@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  width: 100vw;
  height: 100vh;
  background: url("../assets/bg/bg_begin.jpg") 0 0/100% 100% no-repeat;
  font-size: 16px;
  font-family: "Aleo", serif;
  letter-spacing: 1px;
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
}
.main__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 62px;
  letter-spacing: 2px;
  text-transform: lowercase;
}

.aincients {
  width: 100vw;
  padding: 20px 50px;
  height: 30vh;
  display: flex;
  gap: 25px;
}
.aincients__card {
  height: 100%;
  flex: 1 1 25%;
  border-radius: 10px;
}

#Azathoth {
  background: url("../assets/Ancients/Azathoth.png") 0 0/100% 100% no-repeat;
}

#Cthulthu {
  background: url("../assets/Ancients/Cthulthu.png") 0 0/100% 100% no-repeat;
}

#IogSothoth {
  background: url("../assets/Ancients/IogSothoth.png") 0 0/100% 100% no-repeat;
}

#ShubNiggurath {
  background: url("../assets/Ancients/ShubNiggurath.png") 0 0/100% 100% no-repeat;
}

.menu {
  position: absolute;
  height: 50vh;
  width: 250px;
  top: 32vh;
  left: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 25px 10px 25px 10px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  color: #ffffff;
}
.menu__level {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 28px;
  font-weight: 500;
  text-transform: lowercase;
}

.level {
  color: #ffffff;
}
.level__btns {
  margin: 5px 0px;
  text-align: left;
}
.level__btn {
  margin: 10px;
  text-align: left;
  transition: color 500ms ease 0ms;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
.level__btn:hover {
  color: rgba(255, 215, 0, 0.8);
}
.level__header {
  color: rgba(255, 215, 0, 0.8);
  padding: 2px 2px 20px 2px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  line-height: 120%;
  border-bottom: 2px solid gold;
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border: 0.01em solid #ffffff;
  border-radius: 50%;
  transform: translateY(-0.09em);
  display: grid;
  place-content: center;
}
input[type=radio]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em gold;
}
input[type=radio]:checked::before {
  transform: scale(1);
}

.btn {
  transition: all 500ms ease 0ms;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 200px;
  height: 50px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid gold;
  border-radius: 10px;
}
.btn:hover {
  background: rgba(0, 0, 0, 0.8);
  font-size: 15px;
}

.deck__stages {
  position: absolute;
  height: 50vh;
  width: 250px;
  top: 32vh;
  right: 50px;
  display: flex;
  flex-direction: column;
  padding: 25px 10px 25px 10px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  color: #ffffff;
  font-size: 28px;
}
.deck__stages__header {
  color: rgba(255, 215, 0, 0.8);
  padding: 2px 2px 20px 2px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  line-height: 120%;
  border-bottom: 2px solid gold;
}
.deck__stages__container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
}
.deck__stage {
  flex: 1 1 33.333%;
  text-align: center;
}

.stage__text {
  color: rgba(255, 215, 0, 0.8);
  margin-bottom: 20px;
}
.stage__card {
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 40%;
  border: 1px solid gold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stage__green-cards {
  background-color: green;
}
.stage__brown-cards {
  background-color: rgb(177, 127, 52);
}
.stage__blue-cards {
  background-color: rgba(33, 33, 228, 0.5);
}