@import "./nullstyle";

@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,400;1,700&display=swap");

//===========================================================================

body {
   width: 100vw;
   height: 100vh;
   transition: all 900ms ease 0s;
   background-image: url("../assets/bg/bg_begin.jpg");
   background-position: 0 0;
   background-size: 100% 100%;
   background-repeat: no-repeat;

   font-size: 16px;
   font-family: "Aleo", serif;
   letter-spacing: 1px;
}

.main {
   width: 100%;
   height: 100%;
   position: relative;

   &__text {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      padding: 20px;
      text-align: center;

      color: #ffffff;
      font-size: 62px;
      letter-spacing: 2px;
      text-transform: lowercase;
   }
}

.aincients {
   width: 100vw;
   padding: 20px 50px;
   height: 40vh;
   display: flex;
   gap: 25px;
   position: absolute;
   left: 0;
   bottom: 0;

   &__card {
      height: 100%;
      flex: 1 1 25%;
      border-radius: 10px;

      cursor: pointer;

      transition: opacity 500ms ease 0s;
      &:hover {
         opacity: 0.7;
         .aincients__card__text {
            opacity: 1;
         }
      }

      display: flex;
      justify-content: center;
      align-items: center;

      &__text {
         color: #ffffff;
         font-size: 24px;
         opacity: 0;
      }

      &._inActive {
         box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8) inset;
      }
   }
}

#azathoth {
   background: url("../assets/Ancients/Azathoth.png") 0 0 / 100% 100% no-repeat;
}

#cthulhu {
   background: url("../assets/Ancients/Cthulthu.png") 0 0 / 100% 100% no-repeat;
}

#iogSothoth {
   background: url("../assets/Ancients/IogSothoth.png") 0 0 / 100% 100% no-repeat;
}

#shubNiggurath {
   background: url("../assets/Ancients/ShubNiggurath.png") 0 0 / 100% 100% no-repeat;
}

.menu {
   position: absolute;
   //height: 35vh;
   width: 250px;
   top: 5vh;
   left: 50px;

   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;

   padding: 25px 10px 1% 10px;

   background: rgba(0, 0, 0, 0.4);
   //box-shadow: 3x 3px 3px rgba(0, 0, 0, 0.4);
   border-radius: 10px;

   color: #ffffff;

   &__level {
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      font-size: 28px;
      font-weight: 500;

      text-transform: lowercase;
   }
}

.level {
   color: #ffffff;

   &__btns {
      margin: 5px 0px;
      text-align: left;
   }

   &__btn {
      margin: 10px;
      text-align: left;
      transition: color 500ms ease 0ms;

      display: grid;
      grid-template-columns: 1em auto;
      gap: 0.5em;

      &:hover {
         color: rgba(255, 215, 0, 0.8);
      }
   }

   &__header {
      color: rgba(255, 215, 0, 0.8);

      padding: 2px 2px 20px 2px;
      margin-bottom: 10px;
      text-align: center;

      text-transform: uppercase;
      line-height: 120%;

      border-bottom: 2px solid gold;
   }
}

input[type="radio"] {
   -webkit-appearance: none;
   appearance: none;

   //custom buttons
   //outer
   font: inherit;
   width: 1.15em;
   height: 1.15em;
   border: 0.01em solid #ffffff;
   border-radius: 50%;

   transform: translateY(-0.09em);

   //checked style
   display: grid;
   place-content: center;

   &::before {
      content: "";
      width: 0.65em;
      height: 0.65em;
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em gold;
   }

   &:checked::before {
      transform: scale(1);
   }
}

.btn {
   transition: all 500ms ease 0ms;
   align-self: center;

   display: flex;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;

   width: 200px;
   height: 50px;
   margin-bottom: 15px;

   text-transform: uppercase;

   color: #ffffff;
   font-size: 14px;

   background: rgba(0, 0, 0, 0.5);
   border: 1px solid gold;

   border-radius: 10px;

   &:hover {
      background: rgba(0, 0, 0, 0.8);
      font-size: 15px;
   }
}

.card-deck {
   &__back {
   }

   &__face {
   }
}

.deck {
   &__stages {
      position: absolute;
      //height: 35vh;
      width: 250px;
      top: 5vh;
      right: 50px;

      display: flex;
      flex-direction: column;

      padding: 25px 10px 5% 10px;

      background: rgba(0, 0, 0, 0.4);
      //box-shadow: 3x 3px 3px rgba(0, 0, 0, 0.4);
      border-radius: 10px;

      color: #ffffff;
      font-size: 28px;

      &__header {
         color: rgba(255, 215, 0, 0.8);

         padding: 2px 2px 20px 2px;
         margin-bottom: 10px;
         text-align: center;

         text-transform: uppercase;
         line-height: 120%;

         border-bottom: 2px solid gold;
      }

      &__container {
         display: flex;
         justify-content: center;
         gap: 30px;
         margin: 0 auto;
      }
   }

   &__stage {
      flex: 1 1 33.333%;
      text-align: center;
   }
}
.stage {
   &__text {
      color: rgba(255, 215, 0, 0.8);
      margin-bottom: 20px;
   }

   &__card {
      margin-bottom: 10px;
      width: 50px;
      height: 50px;
      border-radius: 40%;
      border: 1px solid gold;

      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__green-cards {
      background-color: green;
   }

   &__brown-cards {
      background-color: rgb(177, 127, 52);
   }

   &__blue-cards {
      background-color: rgba(33, 33, 228, 0.5);
   }
}

.cards {
}
